.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #1e2022, #4d545c);
}

/* #363a3f */

.login > button {
    width: 300px;
    background-color: #738adb;
    color: #eff2f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: #1e2022;
    color: #738adb;
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}